@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Children Managment System</h1>
    <p>Here you can enter data for as many children as you like and modify them.</p>
</div>
